@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

$box-background: #f7f7f7;
$p-color: #7e7e7e;
$green: rgb(100, 170, 100);

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

p {
  font-weight: 300;
  color: $p-color;
}

.vertical-center {
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.pb-10 {
  padding-bottom: 10px;
}

.status-ok {
  width: 10px;
  height: 10px;
  background-color: $green;
  border-radius: 50%;
}

.boreal-box {
  padding: 30px;
  background-color: $box-background;
  width: 400px;
  border-radius: 10px 0px;
  box-shadow: 0px 0px 30px rgb(187, 187, 187);
}

.position-center-vh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scale-screen-h {
  height: 100vh;
}
